<div data-contents="true">
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="d0j0v-0-0">
        <div data-offset-key="d0j0v-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="d0j0v-0-0" style="font-weight: bold;"><span data-text="true">Чернівецький національний
                    універиситет імені Юрія Федьковича</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="86rie-0-0">
        <div data-offset-key="86rie-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="86rie-0-0" style="font-weight: bold;"><span data-text="true">Інститу фізико-технічних
                    та комп'ютерний наук</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="bivjo-0-0">
        <div data-offset-key="bivjo-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="bivjo-0-0"><span data-text="true">Відділ комп'ютерних технологій</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="cb35m-0-0">
        <div data-offset-key="cb35m-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="cb35m-0-0"><span data-text="true">Кафедра математичних проблем і управління
                    кібернетики</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="5c196-0-0">
        <div data-offset-key="5c196-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="5c196-0-0"><span data-text="true">ЗВІТ</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="2gs99-0-0">
        <div data-offset-key="2gs99-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="2gs99-0-0"><span data-text="true">про виконання лабораторної роботи №1</span></span>
        </div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="8j2sr-0-0">
        <div data-offset-key="8j2sr-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="8j2sr-0-0"><span data-text="true">"Авторизація"</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="cfedc-0-0">
        <div data-offset-key="cfedc-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="cfedc-0-0"><span data-text="true">з дисципліни</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="a79tu-0-0">
        <div data-offset-key="a79tu-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="a79tu-0-0"><span data-text="true">"Node.js"</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="1cq7s-0-0">
        <div data-offset-key="1cq7s-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="1cq7s-0-0"><span data-text="true">Виконав: студент 444 групи</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="dnmld-0-0">
        <div data-offset-key="dnmld-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="dnmld-0-0"><span data-text="true">Галяс А.В.</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="de5ef-0-0">
        <div data-offset-key="de5ef-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="de5ef-0-0"><span data-text="true">Перевірила: Кириченко О.О.</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="8rj5t-0-0">
        <div data-offset-key="8rj5t-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="8rj5t-0-0"><span data-text="true">Оцінка:</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="309lk-0-0">
        <div data-offset-key="309lk-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="309lk-0-0"><span data-text="true">Дата захисту:</span></span></div>
    </div>
    <div class="" data-block="true" data-editor="c5upq" data-offset-key="f6eeq-0-0">
        <div data-offset-key="f6eeq-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                data-offset-key="f6eeq-0-0"><span data-text="true">Чернівці 2024</span></span></div>
    </div>
</div>