.wrapper-class {
    padding: 1rem;
}

.editor-class {
    background-color:#f3f3f3;
    padding: 1rem;
    border: 1px solid #e0e0e0;
}

.toolbar-class {
    border: 1px solid #e0e0e0;
}

.preview {
    padding: 1rem;
    margin: 0 1rem 0 1rem;
    width: 210mm; /* A4 width in millimeters */
    height: 297mm; /* A4 height in millimeters */
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    /* background-color:#d9e7f8; */
    /* border: 1px solid #beddff; */
}

p:empty::before {
    content: "\200B"; /* Unicode character for a zero-width space */
  }