<div class="DraftEditor-root">
    <div class="DraftEditor-editorContainer">
        <div aria-label="rdw-editor" class="notranslate public-DraftEditor-content" contenteditable="true"
            role="textbox" spellcheck="false"
            style="outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;">
            <div data-contents="true">
                <div class="" data-block="true" data-editor="fbiie" data-offset-key="3mei-0-0">
                    <div data-offset-key="3mei-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr">
                        <span data-offset-key="3mei-0-0"><span data-text="true">aaaa</span></span></div>
                </div>
                <div class="" data-block="true" data-editor="fbiie" data-offset-key="cv1vr-0-0">
                    <div data-offset-key="cv1vr-0-0"
                        class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                            data-offset-key="cv1vr-0-0"><br data-text="true"></span></div>
                </div>
                <div class="" data-block="true" data-editor="fbiie" data-offset-key="bhnas-0-0">
                    <div data-offset-key="bhnas-0-0"
                        class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                            data-offset-key="bhnas-0-0"><br data-text="true"></span></div>
                </div>
                <div class="" data-block="true" data-editor="fbiie" data-offset-key="3d72g-0-0">
                    <div data-offset-key="3d72g-0-0"
                        class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                            data-offset-key="3d72g-0-0"><span data-text="true">bbb</span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>