.wrapper-class {
    padding: 1rem;
}

.editor-class {
    background-color:#f3f3f3;
    padding: 1rem;
    width: 220mm; /* A4 width in millimeters */
    border: 1px solid #e0e0e0;
    margin: auto;
}

/* Params for orientation, object types */

.toolbar-class {
    margin: auto;
    border: 1px solid #e0e0e0;
    width: 217mm; /* A4 width in millimeters */
}

.preview {
    padding: 1rem;
    margin: 0 1rem 0 1rem;
    width: 210mm; /* A4 width in millimeters */
    /* height: 302mm;  */
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    overflow-y: auto; /* Enable vertical scrolling */
    /* background-color:#d9e7f8; */
    /* border: 1px solid #beddff; */
}

/* Important style for whitespaces */
p:empty::before {
    content: "\200B"; /* Unicode character for a zero-width space */
  }