<div class="editor-class rdw-editor-main">
    <div class="DraftEditor-root">
        <div class="DraftEditor-editorContainer">
            <div aria-label="rdw-editor" class="notranslate public-DraftEditor-content" contenteditable="true"
                role="textbox" spellcheck="false"
                style="outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;">
                
                    <div class="rdw-center-aligned-block" data-block="true" data-editor="2rfk3"
                        data-offset-key="2ble6-0-0">
                        <div data-offset-key="2ble6-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="2ble6-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-weight: bold; font-size: 20px;"><span
                       <div data-contents="true">             data-text="true">Чернівецький національний універиситет імені Юрія
                                    Федьковича</span></span></div>
                    </div>
                    <div class="rdw-center-aligned-block" data-block="true" data-editor="2rfk3"
                        data-offset-key="37vue-0-0">
                        <div data-offset-key="37vue-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="37vue-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-weight: bold; font-size: 20px;"><span
                                    data-text="true">Інститу фізико-технічних та комп'ютерний наук</span></span></div>
                    </div>
                    <div class="rdw-center-aligned-block" data-block="true" data-editor="2rfk3"
                        data-offset-key="fb6ot-0-0">
                        <div data-offset-key="fb6ot-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="fb6ot-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true">Відділ комп'ютерних технологій</span></span></div>
                    </div>
                    <div class="rdw-center-aligned-block" data-block="true" data-editor="2rfk3"
                        data-offset-key="2fpug-0-0">
                        <div data-offset-key="2fpug-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="2fpug-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true">Кафедра математичних проблем і управління кібернетики</span></span>
                        </div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="c01hd-0-0">
                        <div data-offset-key="c01hd-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="c01hd-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="dibul-0-0">
                        <div data-offset-key="dibul-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="dibul-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="31p3k-0-0">
                        <div data-offset-key="31p3k-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="31p3k-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="dakho-0-0">
                        <div data-offset-key="dakho-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="dakho-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="9fqgn-0-0">
                        <div data-offset-key="9fqgn-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="9fqgn-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="rdw-center-aligned-block" data-block="true" data-editor="2rfk3"
                        data-offset-key="34rlj-0-0">
                        <div data-offset-key="34rlj-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="34rlj-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true">ЗВІТ</span></span></div>
                    </div>
                    <div class="rdw-center-aligned-block" data-block="true" data-editor="2rfk3"
                        data-offset-key="6vqr0-0-0">
                        <div data-offset-key="6vqr0-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="6vqr0-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true">про виконання лабораторної роботи №2</span></span></div>
                    </div>
                    <div class="rdw-center-aligned-block" data-block="true" data-editor="2rfk3"
                        data-offset-key="670nv-0-0">
                        <div data-offset-key="670nv-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="670nv-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true">"Основні поняття системного аналізу"</span></span></div>
                    </div>
                    <div class="rdw-center-aligned-block" data-block="true" data-editor="2rfk3"
                        data-offset-key="489l5-0-0">
                        <div data-offset-key="489l5-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="489l5-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true">з дисципліни</span></span></div>
                    </div>
                    <div class="rdw-center-aligned-block" data-block="true" data-editor="2rfk3"
                        data-offset-key="8qm9s-0-0">
                        <div data-offset-key="8qm9s-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="8qm9s-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true">"Системний аналіз" </span></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="1o7k7-0-0">
                        <div data-offset-key="1o7k7-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="1o7k7-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="7t32l-0-0">
                        <div data-offset-key="7t32l-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="7t32l-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="3q84j-0-0">
                        <div data-offset-key="3q84j-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="3q84j-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="6t1jc-0-0">
                        <div data-offset-key="6t1jc-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="6t1jc-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="4ftpm-0-0">
                        <div data-offset-key="4ftpm-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="4ftpm-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true"> Виконав: студент 341 групи</span></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="9333e-0-0">
                        <div data-offset-key="9333e-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="9333e-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true"> Галяс А.В.</span></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="e8css-0-0">
                        <div data-offset-key="e8css-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="e8css-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true"> Перевірила: Тимофієва Є.М. </span></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="5patm-0-0">
                        <div data-offset-key="5patm-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="5patm-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true"> Оцінка:</span></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="866mh-0-0">
                        <div data-offset-key="866mh-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="866mh-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true"> Дата захисту:</span></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="9i36p-0-0">
                        <div data-offset-key="9i36p-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="9i36p-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="8c9ef-0-0">
                        <div data-offset-key="8c9ef-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="8c9ef-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="3uk39-0-0">
                        <div data-offset-key="3uk39-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="3uk39-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="amvio-0-0">
                        <div data-offset-key="amvio-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="amvio-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="7jgo1-0-0">
                        <div data-offset-key="7jgo1-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="7jgo1-0-0"><br data-text="true"></span></div>
                    </div>
                    <div class="rdw-center-aligned-block" data-block="true" data-editor="2rfk3"
                        data-offset-key="djs6o-0-0">
                        <div data-offset-key="djs6o-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="djs6o-0-0"
                                style="font-family: &quot;Times New Roman&quot;; font-size: 20px;"><span
                                    data-text="true">Чернівці 2024</span></span></div>
                    </div>
                    <div class="" data-block="true" data-editor="2rfk3" data-offset-key="cnik9-0-0">
                        <div data-offset-key="cnik9-0-0"
                            class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                                data-offset-key="cnik9-0-0"><br data-text="true"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>