<div class="preview" style="white-space: normal; overflow-wrap: break-word;">
    <p style="text-align:center;"><span style="font-size: 20px;font-family: Times New Roman;"><strong>Чернівецький
                національний універиситет імені Юрія Федьковича</strong></span></p>
    <p style="text-align:center;"><span style="font-size: 20px;font-family: Times New Roman;"><strong>Інститу
                фізико-технічних та комп'ютерний наук</strong></span></p>
    <p style="text-align:center;"><span style="font-size: 20px;font-family: Times New Roman;">Відділ комп'ютерних
            технологій</span></p>
    <p style="text-align:center;"><span style="font-size: 20px;font-family: Times New Roman;">Кафедра математичних
            проблем і управління кібернетики</span></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="text-align:center;"><span style="font-size: 20px;font-family: Times New Roman;">ЗВІТ</span></p>
    <p style="text-align:center;"><span style="font-size: 20px;font-family: Times New Roman;">про виконання лабораторної
            роботи №2</span></p>
    <p style="text-align:center;"><span style="font-size: 20px;font-family: Times New Roman;">"Основні поняття
            системного аналізу"</span></p>
    <p style="text-align:center;"><span style="font-size: 20px;font-family: Times New Roman;">з дисципліни</span></p>
    <p style="text-align:center;"><span style="font-size: 20px;font-family: Times New Roman;">"Системний аналіз" </span>
    </p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"><span
            style="font-size: 20px;font-family: Times New Roman;"> Виконав: студент 341 групи</span></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"><span
            style="font-size: 20px;font-family: Times New Roman;"> Галяс А.В.</span></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"><span
            style="font-size: 20px;font-family: Times New Roman;"> Перевірила: Тимофієва Є.М. </span></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"><span
            style="font-size: 20px;font-family: Times New Roman;"> Оцінка:</span></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"><span
            style="font-size: 20px;font-family: Times New Roman;"> Дата захисту:</span></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
    <p style="text-align:center;"><span style="font-size: 20px;font-family: Times New Roman;">Чернівці 2024</span></p>
    <p style="overflow-wrap: break-word; white-space: pre-wrap;"></p>
</div>